.vektorIntro {
    margin:0;
    padding:0;
    height: 370px;
    width: 100%;
    top: 2%;
    background:white;
    /* position:absolute; */
    position:relative;
    overflow: hidden;
}

.test {
    /* display:flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.15; */
}

.overskrift {
    font-size: 14pt;
    font-family: 'Work Sans', sans-serif;
    border: 5px solid white;
    left: 10%;
}

.vektorRegner {
    top:370px;
    height:400;
    margin:0;
    padding:0;
    width:100%;
    background:lightgrey;
    position: inherit;
}

.wrapper {
    display:flex;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.15;
}

.col {
    width: 50%;
    padding: 40px;
    overflow:hidden;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    display:flex;
    justify-content: center;
}

.vektorCalc {
    left: 10%;
    top: 10%;
    bottom: 10%;
    background:lightblue;
    position: absolute;
    width: 40%;
    font-size: 11pt;
    font-family: Arial, Verdana, sans-serif;
}

.selectOperations {
    position: absolute;
    top: 29.5%;
    left: 5%;
}

.vektorx {
    position: absolute;
    height: 30px;
    width: 70px;
    top: 20%;
    left: 43%;
}

.vektory {
    position: absolute;
    height: 30px;
    width: 70px;
    top: 35%;
    left: 43%;
}

.indicatorX {
    position: absolute;
    height: 30px;
    width: 70px;
    top: 18%;
    left: 38%;
}

.indicatorY {
    position: absolute;
    height: 30px;
    width: 70px;
    top: 33%;
    left: 38%;
}

.vektorOut {
    right: 10%;
    top: 10%;
    bottom: 10%;
    background:lightblue;
    position: absolute;
    width: 20%;
    font-size: 11pt;
    font-family: Arial, Verdana, sans-serif;
}

.udregn {
    bottom: 7%;
    right: 7%;
    position: absolute;
    height: 20%;
    width: 5%px;
    font-size: 10pt;
    font-family: Arial, Verdana, sans-serif;
    border-radius: 12px;
    background-color:lightblue;
    border: 2px solid black;
}

.vectoradd {
    top: 22%;
    right: 10%;
    position: absolute;
    height: 20%;
    width: 5%px;
    font-size: 10pt;
    font-family: Arial, Verdana, sans-serif;
    border-radius: 12px;
    background-color:lightblue;
    border: 2px solid black;
}

.vektorResult {
    position: relative;
    left: 7%;
    font-size: 14pt;
}

.deviationIntro {
    top: 370px;
    margin:0;
    padding:0;
    height: 330px;;
    width:100%;
    background:white;
    position:relative
}

.deviationCalc {
    top:1110px;
    margin:0;
    padding:0;
    height: 370px;;
    width:100%;
    background:lightgray;
    position: inherit;
}

.deviationInput {
    left: 10%;
    top: 10%;
    bottom: 10%;
    background:lightblue;
    position: absolute;
    width: 40%;
    font-size: 11pt;
    font-family: Arial, Verdana, sans-serif;
}

.måltVærdi {
    position: absolute;
    height: 35px;
    width: 80px;
    top: 28%;
    left: 20%;
}

.tabelVærdi {
    position: absolute;
    height: 35px;
    width: 80px;
    top: 28%;
    left: 60%;
}

.measuredText {
    position: absolute;
    top: 15%;
    left: 20%;
}

.tabelText {
    position: absolute;
    top: 15%;
    left: 60%;
}

.deviationOut {
    right: 10%;
    top: 10%;
    bottom: 10%;
    background:lightblue;
    position: absolute;
    width: 20%;
    font-size: 11pt;
    font-family: Arial, Verdana, sans-serif;
}